extends layout 

block content 

    main.main
        .card-container
            each movie in movies
                .card
                    .card-hero
                        img(src=  `${movie.poster}` alt = "movie-poster" )
                    .card-title
                        DC #{movie.title}
                    .card-info
                        .rating= `${movie.ratings}  ${'⭐'.repeat(Math.floor(movie.ratings/2))}`
                        .duration #{movie.runtime}
                    .description= movie.Description.slice(0,90) + '....'
                    a.more(href = `\movie\\${movie.slug}` target = "_blank" class = "more") Know More




    //- <main class = "main">
    //-     <div class="card-container">
    //-         <div class="card">
    //-             <div class = "card-hero">
    //-                 <img src="./../images/movie-1-poster.jpg" alt="movie-poster">
    //-             </div>
    //-             <div class = "card-title">
    //-                 DC League of Super Pets
    //-             </div>
    //-             <div class = "card-info">
    //-                 <div class = "rating">7.5 Imdb ⭐⭐⭐⭐</div>
    //-                 <div class = "duration">1hr 45min</div>
    //-             </div>
    //-             <div class = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis repellat cum ad officia rem.....</div>
    //-             <button type="button" class = "more">Know More</button>
    //-         </div>
            
    //-         <div class="card">
    //-             <div class = "card-hero">
    //-                 <img src="./../images/movie-1-poster.jpg" alt="movie-poster">
    //-             </div>
    //-             <div class = "card-title">
    //-                 DC League of Super Pets
    //-             </div>
    //-             <div class = "card-info">
    //-                 <div class = "rating">7.5 Imdb ⭐⭐⭐⭐</div>
    //-                 <div class = "duration">1hr 45min</div>
    //-             </div>
    //-             <div class = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis repellat cum ad officia rem.....</div>
    //-             <button type="button" class = "more">Know More</button>
    //-         </div>

    //-         <div class="card">
    //-             <div class = "card-hero">
    //-                 <img src="./../images/movie-1-poster.jpg" alt="movie-poster">
    //-             </div>
    //-             <div class = "card-title">
    //-                 DC League of Super Pets
    //-             </div>
    //-             <div class = "card-info">
    //-                 <div class = "rating">7.5 Imdb ⭐⭐⭐⭐</div>
    //-                 <div class = "duration">1hr 45min</div>
    //-             </div>
    //-             <div class = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis repellat cum ad officia rem.....</div>
    //-             <button type="button" class = "more">Know More</button>
    //-         </div>

    //-         <div class="card">
    //-             <div class = "card-hero">
    //-                 <img src="./../images/movie-1-poster.jpg" alt="movie-poster">
    //-             </div>
    //-             <div class = "card-title">
    //-                 DC League of Super Pets
    //-             </div>
    //-             <div class = "card-info">
    //-                 <div class = "rating">7.5 Imdb ⭐⭐⭐⭐</div>
    //-                 <div class = "duration">1hr 45min</div>
    //-             </div>
    //-             <div class = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis repellat cum ad officia rem.....</div>
    //-             <button type="button" class = "more">Know More</button>
    //-         </div>
    //-     </div>
    //- </main>